<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reportes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
  body {
      background-color: white;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }
nav.navbar {
    background-color: #f0e9e9;
}
  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-yellow navbar-yellow">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href=""
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Reportes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="view1" rel="noopener noreferrer"
              >Reporte de Ingreso de usuario</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="view2" rel="noopener noreferrer"
              >Reporte de Canciones más escuchadas</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="view3" rel="noopener noreferrer"
              >Reporte de Cantidad de tarjetas registradas</a
            >
          </div>
        </li>

  </div>  
</nav>
</body>
</html>

